/*
  Haleem Hawkins
  09 Jun 2020
  Coffee Shops of America final project
*/
:root{
    --creamy: #F2E3E3;
    --smokeytext: #4A4A4A;
}
#wrapper{
	      width: auto;
          height: auto;
          font-family: 'Concert One', sans-serif;
		  color: var(--smokeytext);
          margin-left: auto;
          margin-right: auto;
}
#wrapper::before{
                  content: "";
                  background-image: url(images/coffee_background.jpg);
                  width: 4889px;
                  height: 3728px;
                  background-size: cover;
                  position: fixed;
                  top: 0px;
                  right: 0px;
                  bottom: 0px;
                  left: 0px;
                  opacity: 50%;
                  z-index: -1;
                  background-repeat: repeat-y;
}
header{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--creamy);
        text-align: center;
		font-size: 30pt;
		margin-top: 150px;
        margin-bottom: 150px;
        padding: .5%;
        border-radius: 20px;
        border: 1px solid #714A54;
}
nav{  
      background-color: rosybrown;
      width: auto;
	  padding: 1em;
      margin: auto;
	  text-align:center;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      font-size: 17pt;
}
nav a{ 
	   text-decoration: none;
	   color: var(--smokeytext);

}
a{
    padding-left: 1px;
	padding-right:1px;
}
 h2{
	 text-align: center;
}
 ul{
     text-align: center;
 }
li{
    list-style-type: none;
}
ul li{
	font-size: 25pt;
    width: 60%;
    background-color: var(--creamy);
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    min-height: 230px;
}
ul li p{
    background-color: rosybrown;
    border-radius: 20px;
    min-height: 75px;
    text-align: center;
    font-size: 20pt;
    padding: 20px;
}
caption{
    font-size: 40pt;
    background-color: rosybrown;
    border: 3px solid #714A54;
    border-radius: 7px;
    padding:.5em;
    margin-bottom: 1%
}
table{
	    margin: auto;
        margin-top: 4em;
		margin-bottom: 4em;
        background-color: rosybrown;
}
table, th, td {
                border: 3px solid #714A54;
                border-radius: 7px;
              }
th{
    font-size: 15pt;
    color: var(--smokeytext);
    padding:.5em;
}
td{
    padding: 0.5em;
	margin: auto;
}
td a{
	  text-decoration: none;
	  font-size: 25pt;
	  color: lightgray;
}
td img{
	    padding:1em;
		margin: auto;
}
#img{
	       margin: 1em;
	       padding: 0.5em;
		   background: #714A54;
}
footer{
	    background-color: rosybrown;
		padding: 5px;
		text-align: right;
		font-weight: bold;
		font-size: 20px;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;  
}
footer a{
          color: var(--smokeytext);
		  text-decoration: none;
          margin-right: 2%;
}
form{
	  background-color: #EAEAEA;
	  width: 350px; 
	  padding: 10px; 
	  height: 400px;
	  text-align: left;
	  margin: 3em;
}
textarea{
	      height: 300px;
		  width: 300px; 
}  	   
main>p{
    background-color: var(--creamy);
    display: block;
    font-size: 20pt;
    text-align: center;
    width: 100%;
    padding: 2%;
    margin-left: -1%;
    margin-right: -1%;
}

.allCarasels{

}

/* Boba Group */
.wholeFirstCarasel{

}

.firstCarasel{
    background-color: var(--creamy);
    border-radius: 20px;
    position: relative;
    width: 324px;
    height: 416px;
    left: 10%;
    top: 100px;
    text-align: center;
}

/* Boba Group */
.fCaraselImg{
    position: relative;
    top: 100px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 22% 80%;
    background-image: url(images/rosalind-chang-P_wPicZYoPI-unsplash.jpg);
    border-radius: 20px;
}

/* smoothie Group */
.wholeSecondCarasel{

}
.secondCarasel{
    position: relative;
    width: 324px;
    height: 416px;
    left: 45%;
    top: -315px;
    background-color: var(--creamy);
    border-radius: 20px;
    text-align: center;
}
.sCaraselImg{
    position: relative;
    top: 100px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/qazal-heydarpour-hVUSLW_tsmI-unsplash.jpg);
    background-position: 0% 65%;
    border-radius: 20px;
}
/* matcha Group */
.thirdCarasel{
    position: relative;
    width: 324px;
    height: 416px;
    left: 80%;
    top: -728px;
    background-color: var(--creamy);
    border-radius: 20px;
    text-align: center;
}
.tCaraselImg{
    position: relative;
    top: 100px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/ann-74NChp1cn5I-unsplash.jpg);
    background-position: 0% 80%;
    border-radius: 20px;
}

                                /*--------- Slide Show/Carousel Build ----------*/

.slideshow-container{
    max-width: 900px;
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Hide the images by default */
.mySlides:not(:first-child) {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: var(--creamy);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: dimgrey;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--creamy);
    font-weight: bold;
    font-size: 40pt;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

    /* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    /* Boba Group */
    .firstCarasel{
        background-color: var(--creamy);
        border-radius: 20px;
        position: relative;
        width: 300px;
        height: 416px;
        left: -3.7%;
        top: 100px;
        text-align: center;
    }
    /* Boba Group */
    .fCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 22% 80%;
        background-image: url(images/rosalind-chang-P_wPicZYoPI-unsplash.jpg);
        border-radius: 20px;
    }

    /* smoothie Group */
    .secondCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left:31.7%;
        top: -315px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .sCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/qazal-heydarpour-hVUSLW_tsmI-unsplash.jpg);
        background-position: 0% 65%;
        border-radius: 20px;
    }
    /* matcha Group */
    .thirdCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left:67%;
        top: -728px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .tCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/ann-74NChp1cn5I-unsplash.jpg);
        background-position: 0% 80%;
        border-radius: 20px;
    }
    nav a{
        font-size: 17pt;
        padding-left:.1px;
        padding-right:.1px;
    }
    footer a{
        font-size:17pt
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
     /* Boba Group */
    .firstCarasel{
        background-color: var(--creamy);
        border-radius: 20px;
        position: relative;
        width: 300px;
        height: 416px;
        left: -3.7%;
        top: 100px;
        text-align: center;
    }
    /* Boba Group */
    .fCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 22% 80%;
        background-image: url(images/rosalind-chang-P_wPicZYoPI-unsplash.jpg);
        border-radius: 20px;
    }

    /* smoothie Group */
    .secondCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left:31.7%;
        top: -315px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .sCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/qazal-heydarpour-hVUSLW_tsmI-unsplash.jpg);
        background-position: 0% 65%;
        border-radius: 20px;
    }
    /* matcha Group */
    .thirdCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left:67%;
        top: -728px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .tCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/ann-74NChp1cn5I-unsplash.jpg);
        background-position: 0% 80%;
        border-radius: 20px;
    }
    nav a{
        font-size: 17pt;
        padding-left:.1px;
        padding-right:.1px;
    }
    footer a{
        font-size:17pt
    }
}

        /* iPad Air */

/* Landscape */
@media only screen and (min-device-width: 481px)
and (max-device-width: 1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2){
    /* Boba Group */
    .firstCarasel{
        background-color: var(--creamy);
        border-radius: 20px;
        position: relative;
        width: 300px;
        height: 416px;
        left: -16px;
        top: 95px;
        text-align: center;
    }
    /* Boba Group */
    .fCaraselImg{
        position: relative;
        top: 100px;
        left: -3px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 22% 80%;
        background-image: url(images/rosalind-chang-P_wPicZYoPI-unsplash.jpg);
        border-radius: 20px;
    }

    /* smoothie Group */
    .secondCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left: 315px;
        top: -321px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .sCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/qazal-heydarpour-hVUSLW_tsmI-unsplash.jpg);
        background-position: 0% 65%;
        border-radius: 20px;
    }
    /* matcha Group */
    .thirdCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left:66.6%;
        top: -735px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .tCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/ann-74NChp1cn5I-unsplash.jpg);
        background-position: 0% 80%;
        border-radius: 20px;
    }
    nav a{
        font-size: 17pt;
        padding-left:.1px;
        padding-right:.1px;
    }
    footer a{
        font-size:17pt
    }
}

/*!* Portrait *!
@media only screen
and (min-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2){
    !* Boba Group *!
    .firstCarasel{
        background-color: var(--creamy);
        border-radius: 20px;
        position: relative;
        width: 300px;
        height: 416px;
        left: -26px;
        top: 95px;
        text-align: center;
    }
    !* Boba Group *!
    .fCaraselImg{
        position: relative;
        top: 100px;
        left: -1px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 22% 80%;
        background-image: url(images/rosalind-chang-P_wPicZYoPI-unsplash.jpg);
        border-radius: 20px;
    }

    !* smoothie Group *!
    .secondCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left: 295px;
        top: -321px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .sCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/qazal-heydarpour-hVUSLW_tsmI-unsplash.jpg);
        background-position: 0% 65%;
        border-radius: 20px;
    }
    !* matcha Group *!
    .thirdCarasel{
        position: relative;
        width: 300px;
        height: 416px;
        left:66.6%;
        top: -735px;
        background-color: var(--creamy);
        border-radius: 20px;
        text-align: center;
    }
    .tCaraselImg{
        position: relative;
        top: 100px;
        width: 275px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/ann-74NChp1cn5I-unsplash.jpg);
        background-position: 0% 80%;
        border-radius: 20px;
    }
    nav a{
        font-size: 17pt;
        padding-left:.1px;
        padding-right:.1px;
    }
    footer a{
        font-size:17pt
    }
}*/
